{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <a href="{{ path('logout') }}" class="login-link">
        <span>Deconnexion</span>
    </a>
{% endblock %}
