<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar">
                <ul class="nav-left">
                    <h3>Livequestion</h3>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Les Questions</a></li>
                    <li><a href="#">Les Auteurs</a></li>
                    <li><a href="#">Nouvelle Question</a></li>
                </ul>
                <ul class="nav-right">
                    <li class="profile">
                        {% if app.user %}
                            <img src="" alt="{{ app.user.username }}" class="profile-img">
                            <span>{{ app.user.username }}</span>
                        {% else %}
                            <a href="{{ path('login') }}" class="login-link">
                                <span>Connexion</span>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>
    {% block body %}{% endblock %}
    </body>
</html>
